@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color1: #d4a017;
    --primary-color2: #cd7f32;
    --secondary-color1: #0c0c0c;
    --secondary-color2: #333333;
    --accent1: #8b0000;
    --accent: #f8f1e5;
}

h1 {
    font-family: 'Roboto Serif', 'Times New Roman', Times, serif;
}

body {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
}